<table id="example2" class="display" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Category Name</th>
                <th>Number Of products</th>
                <th>Date Created</th>
                <th>Date Updated</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
    
            {% for categroy in categories %}

            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{categroy.category_name}}</td>
                <td>{{categroy.get_num_pro}}</td>
                <td>{{categroy.data_created}}</td>
                <td>{{categroy.data_updated}}</td>
                
                <td>
                    <div class="dropdown">
                    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li id="" class="dropdown-item">Edit</li>
                    </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
        <tfoot>
            <tr>
                <th>[#]</th>
                <th>[Category Name]</th>
                <th>[Date Created]</th>
                <th>[Date Updated]</th>                
                <th>[Action]</th>
            </tr>
        </tfoot>
    </table>
