{% extends 'base.html' %}
{% block title %}{{title}}{% endblock title %}

{% block content %}
    This is the profile view of {{profile.user.username}} <br>
    username: {{profile.user.username}}<br>
    first_name: {{profile.user.first_name}}<br>
    last name: {{profile.user.last_name}}<br>

    dob: {{profile.dob}}<br>

    about: {{profile.about}}<br>
    {% if request.user == profile.user %}
        <li>
                <a href=" {%url 'edit_profile' %} ">Edit Profile</a>
        </li>
    {% endif %}

{% endblock content %}